[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bcrypt = "*"
python-dotenv = "*"
mysql-connector-python = "*"
mysqlclient = "*"
python-dateutil = "*"
sqlparse = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
python-docx = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
